local NIC = require("apps.intel.intel1g").Intel1g

local tunnel = {
 type = 'l2tpv3',
 local_cookie  = '\x00\x11\x22\x33\x44\x55\x66\x77',
 remote_cookie = '\x00\x11\x22\x33\x44\x55\x66\x77'
}

-- local tunnel = { type = 'gre', key = 0x12345678 }

local snmp = {directory= '/tmp/snabb-shmem' }

return { 
 uplink = { 
  driver = NIC,
  config = {
   pciaddr = "0000:02:00.0",
   mtu = 9206,
   snmp = snmp,
  },
  address = "2001:620:0:C101:0:0:0:2",
  mac = "90:e2:ba:62:86:e5",
  next_hop = "2001:620:0:C101:0:0:0:1" 
 },
 vpls = { 
  testVPWS = {
   description = "P2P VPLS (VPWS)",
   mtu = 9014,
   vc_id = 1,
   bridge = {
    type = "learning",
    config = { verbose = true, timeout = 30 }
   },
   ac = {
    testAC = {
     driver = NIC,
     config = {
      pciaddr = "0000:03:00.0",
      snmp = snmp
     },
     interface = "0000:03:00.0"
    }
   },
   address = "2001:620:0:C000:0:0:0:FC",
   tunnel = tunnel,
   cc = { heartbeat = 2, dead_factor = 4 },
   pw = {
    remote = { address = "2001:620:0:C000:0:0:0:FE" },
   }
  }
 }
}
